/*------------------------------- Custom CSS ---------------------------------------*/

.listElement{
	height:190px;
}
.elementTitle{
	display:block;
	width:100%;
	height:36px;
	line-height:1.5em;
	top:-42px;
	position:relative;
	opacity:0.5;
}
.elementTitleText{
	line-height:1.5em;
	top:-67px;
	position:relative;
	font-weight:bold;
	padding-left:10%;
	width:90%;
	overflow:hidden;
	white-space:nowrap;
}

@media screen and (min-width: 288px){
      .x-inner, .x-body{
      	margin:auto;
      }
      .listElement{
      	width:270px;
      	float:none;
      	clear:both;
      	margin:auto;
      }
      .listElement img{
      	width:100%;
      	height:160px;
      }
      .x-panel:nth-child(odd) .listElement{

      }
}

@media screen and (min-width: 480px){
      
}

@media screen and (min-width: 768px){
      .x-inner, .x-body{
      	width:768px;
      	margin:auto;
      }
      .listElement{
      	width:285px;
      	float:none;
      }
      .listElement img{
      	width:285px;
      }
      .listElement.el0{
      	margin-left:50px;
      }
}