/*------------------------------- Custom CSS ---------------------------------------*/

.listElement{
	height:190px;
}

.x-panel:nth-child(1) .listElement{
	marin-top:100px;
}
.elementTitle{
	display:block;
	width:100%;
	height:36px;
	line-height:1.5em;
	top:-42px;
	position:relative;
	opacity:0.5;
}
#second{
	margin-top:70px;
}
.elementTitleText{
	line-height:1.5em;
	top:-67px;
	position:relative;
	font-weight:bold;
	padding-left:10%;
	width:90%;
	overflow:hidden;
	white-space:nowrap;
}
#landingPage  div{
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
}
#logo{
	position:absolute;
	top:0px;
	left:0px;
}

@media screen and (min-width: 288px){
      .x-inner, .x-body{
      	margin:auto;
      }
      .listElement{
      	width:270px;
      	float:none;
      	clear:both;
      	margin:auto;
      }
      #logo{
      	width:100%;
      	margin:auto;
      	clear:both;
      	
      }
      .listElement img{
      	width:100%;
      	height:160px;
      }
      
		.landingPageImg {
			width: 100%;
			height: 480px;
		}
}

@media screen and (min-width: 480px){
      
}

@media screen and (min-width: 768px){
      .x-inner, .x-body{
      	
      	margin:auto;
      }
      .listElement{
      	width:768px;
      	float:none;
      }
      #logo{
      	width:768px;
      }
      .listElement img{
      	width:285px;
      }
      .listElement.el0{

      }
	.landingPageImg {
			height: 1024px;
		}

}